<nav>
	<div class="logo">
		<a href="#home" id="title">CreaWebix</a>
		<div class="underline"></div>
	</div>

	<div class="nav-links">
		<a href="#home">Accueil</a>
		<a href="#services">Services</a>
		<!-- <a href="#portfolio">Portfolio</a>
			<a href="#about">À propos</a> -->
		<a href="#contact">Contact</a>
		<a href="#contact" class="btn-burger">Devis Gratuit</a>
	</div>
	<a href="#contact" class="btn">Devis Gratuit</a>
	<!-- Bouton hamburger pour mobile -->
	<div class="burger">&#9776;</div>
</nav>